@import '~normalize.css';
@import 'style/fonts';

@import 'style/style';

@import 'style/animation';
@import 'style/btn__top';
@import 'style/burger';
@import 'style/calculating';
@import 'style/footer';
@import 'style/header';
@import 'style/menu';
@import 'style/modal';
@import 'style/offer';
@import 'style/order';
@import 'style/preview';
@import 'style/promotion';
@import 'style/sidepanel';
@import 'style/media';